.titleBar {
  display: flex;
  padding: 15px;
  height: 20px;
  line-height: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.titleBar .text {
  color: #191a1b;
  font-size: 16px;
}
